.container {
  /* display: inline-block; */
  border: 5px solid #090852;
  color: #090852;
  border-radius: 10px;
  padding-top: 30px;
  position: absolute;
  margin:50px;
  width: 1250px;
  height: 670px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  
}

.conteinerItem
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
