.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteButton {
  border: none;
  align-items: center;
  background-color: none;
  justify-content: center;
  text-align: center;
}
.addEmployeeButton {
  background-color: rgb(19, 38, 98);
  border: none;
  margin-top: 15px;
}

.linkToEmployee {
  margin: 10px;
  padding: 10px;
  color:black;
}

.inputSearch
{
  margin-top: 15px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 10px;
}
